*{
    color: white;
    transition: .3s ease;
}
:root{
    --txt: white;
    --bodyy: #ede4f0;
    --otherpurple: #ADB8F2;
    --primary: linear-gradient(#ADB8F2, #BBC5F8)
}
::-webkit-scrollbar{
    width: 0;
}
@keyframes dban{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes otan{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
body{
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.home .up{
    animation: dban 3s;
    transition: .3s ease;
    background: var(--primary);
    background-size: cover;
    width: 88%;
    margin: 50px auto;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 50px  rgba(0, 0, 0, 0.12);
}
.home .up .text{
    color: var(--txt);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h1{
    font-size: 30px;
}
.text h2{
    padding: 10px 0;
    font-size: 20px;
}
.home .up .icon{
    padding: 30px;
    display: flex;
    align-items: center;
} 
.home .up i{
    font-size: 100px;
    text-align: center;
    padding: 0 20px;
}
.icon .nobuses{
    display: flex;
    flex-direction: column;
}
.nobuses h1{
    text-align: center;
    font-size: 40px;
}
.studentdata{
    animation: otan 3s;
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* #region home outer */
.home .main{
    height: 60vh;
    border-radius: 12px;
    background: var(--primary);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
}

.home .main .text{
    font-size: 2vw;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: var(--text-color);
    padding: 1%;
}


.home .main .route{
    margin: 0;
    font-size: 1.6vw;
    color: var(--text-color);
    font-weight: 900;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.home .main .route select{
    background: transparent;
    color: white;
    border: none;
    font-size: 1.6vw;
    font-weight: 500;
}

.home .main .route select:active{
    border: none;
}

.home .main .route select:focus{
    border: none;
}

.home .main .route option{
    background: var(--primary);
    border: none;
}

.home .main .route input{
    background: none;
    color: var(--text-color);
    border: none;
    font-size: 1.5vw;
    width: 18%;
    text-align: center;
    border-bottom: 1px solid var(--text-color);
    outline: none;
}

.route input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
/* #endregion */

/* #region addmenu */
.home .addmenu{
    width: 45%;
    height: 54vh;
    z-index: 100;
    display: none;
    position: absolute;
    color: var(--otherpurple);
    top: 20vh;
    left: 25%;
    box-shadow: 0px 0px 500px rgba(13, 13, 0, 0.200);
    background: var(--primary);
    border-radius: 10px;
    text-align: center;
}

.addmenu h3{
    font-size: 2.3vw;
    padding: 10px;
    margin-top: 10px;
}

.addmenu label{
    font-size: 1.5vw;
    font-weight: 200;
}

.addmenu input{
    border: none;
    border-radius: 8px;
    color: var(--otherpurple);
    font-size: 1.2vw;
    padding: .6vw 1.2vw; 
    margin: 10px;
}

.addmenu input:focus, .addmenu input:active{
    outline: none;
}

.addmenubutton{
    padding: 9px 20px;
    background: var(--txt);
    border: 1px solid var(--otherpurple);
    border-radius: 10px;
    color: var(--otherpurple);
    transition: .3s ease;
    font-size: 1vw;
    margin: 5px;
    margin-top: 10px;
}

.addmenubutton:hover{
    background: var(--primary);
    color: var(--txt);
    transition: .3s ease;
}
/* #endregion */

/* #region student table */
.home .studenttable{
    width: 64%;
}
th{
    background-color: var(--txt);
    color: var(--otherpurple);
}
.home .main .info{
    background: transparent;
    border-radius: 10px;
    margin: 0 auto;
    height: 400px;
    overflow: scroll;
    padding: 0 10px;
}
.home .main .info::-webkit-scrollbar{
    width: 5px;
}
.home .main .info::-webkit-scrollbar-corner{
    background-color: var(--primary);
}
.home .main .info::-webkit-scrollbar-thumb{
    background: var(--txt);
    border-radius: 12px;
    margin-top: 100px;
}
#routeno option{
    color: var(--otherpurple);
}

.home .main .info table{
    width: 100%;
    color: var(--txt);
    font-size: 1.1vw;
    text-align: center;
    font-weight: 600;
    padding: 0 10px 10px 10px;
}
.home .main .info th{
    padding: 10px;
    font-size: 1.3vw;
    position: sticky;
    top: 0;
}
.home .main .info .editbutton{
    padding: 1px 20px;
    color: var(--txt);
    border: 1px solid var(--txt);
    border-radius: 10px;
    background: var(--otherpurple);
    transition: .3s ease;
    font-size: 20px;
    margin: 5px;
}

.home .main .info .editbutton:hover{
    color: var(--otherpurple);
    background: var(--txt);
    transition: .3s ease;
}


@media screen and (max-width: 1008px) {
    .home .main .text{
        padding-top: 5px;
        font-size: 25px;
    }

    .home .main .route, .home .main .route select{
        padding: 5px;
        font-size: 20px;
    }

    .home .main .info table{
        font-size: 10px;
        padding-top: 20px;
    }

    .home .main .info table th{
        font-size: 13px;
    }

    .home .main .info .editbutton{
        font-size: 11px;
    }

    .addbutton{
        font-size: 15px;
        margin: 2px;
    }
}
/* #endregion */

/* #region editform design */
.editform{
    width: 31%;
    height: 16vw;
    z-index: 100;
    visibility: hidden;
    position: absolute;
    color: white;
    top: 33vh;
    left: 35%;
    box-shadow: 0px 0px 500px rgba(13, 13, 0, 0.200);
    background: var(--primary);
    border-radius: 10px;
    text-align: center;
}

.editform h3{
    font-size: 2.6vw;
    padding: 1vw;
    width: 100%;
    text-align: center;
}

.editform input{
    border: none;
    border-radius: 8px;
    color: var(--primary);
    font-size: 1.2vw;
    padding: .6vw 1.2vw;
}

.editform input:focus, .editform input:active, .editform input::selection, .editform input:valid{
    outline: none;
}

.editform .buttonss{
    width: 100%;
    padding-top: 1.5vw;
}

.editform button{
    background: transparent;
    padding: 9px 1.2vw;
    font-size: 1.2vw;
    border: none;
    color: var(--text-color);
    border-radius: 12px;
    border: 1px solid var(--text-color);
    /* margin-top: 10px; */
    transition: .3s ease;
}

.editform button:hover{
    background: var(--primary);
    transition: .3s ease;
    color: var(--txt);
}
/* #endregion */

/* #region excelmenu */
.excelmenu{
    z-index: 100;
    display: none;
    position: absolute;
    color: var(--txt);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 500px rgba(13, 13, 0, 0.200);
    padding: 20px;
    background: var(--primary);
    border-radius: 10px;
    text-align: center;
}

.excelmenu h3{
    font-size: 2.4vw;
    padding: 1vw;
    width: 100%;
    text-align: center;   
}

.excelmenu h1{
    font-size: 1.5vw;
    padding: 30px;
}

.excelmenu button{
    background: transparent;
    color: var(--txt);
    border: 1px solid var(--txt);
    padding: 9px 20px ;
    border-radius: 8px;
    transition: .3s ease;
    font-size: 1.2vw;
    margin: 5px;
}

.excelmenu button:hover{
    transition: .3s ease;
    background: var(--txt);
    color: #242526;
    border: 1px solid var(--txt);
}

.excelmenu input::-webkit-file-upload-button{
    background: transparent;
    color: var(--txt);
    border: 1px solid var(--txt);
    padding: 9px 20px ;
    border-radius: 8px;
    transition: .3s ease;
    font-size: 1.2vw;
    margin: 5px;
}

.excelmenu input::-webkit-file-upload-button:hover{
    transition: .3s ease;
    background: var(--txt);
    color: #242526;
    border: 1px solid #242526;
}

.homeexcel{
    height: 12vw;
}
/* #endregion */

.options{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 31%;
    justify-content: space-between;
}
.options h1{
    text-align: center;
    padding-bottom: 20px;
}
.options .buttons{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 50px 39px;
    background: var(--primary);
    box-shadow: 0 0 50px rgba(0, 0, 0, .12);
}
.options .more{
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--primary);
    box-shadow: 0 0 50px rgba(0, 0, 0, .12);
}
.options .more h2{
    font-size: 20px;
    text-align: center;
}
.addbutton{
    padding: 9px 20px;
    margin: 10px;
    border: 1px solid var(--txt);
    border-radius: 10px;
    color: var(--txt);
    background: none;
    transition: .3s ease;
    font-size: 1.1vw;
    text-align: center;
    text-decoration: none;
}
.addbutton:hover{
    background: var(--txt);
    color: var(--otherpurple);
    cursor: pointer;
    transition: .3s ease;
}